---
import Section from '@components/Section.astro';
import EducationWorkExperienceItem from './EducationWorkExperienceItem.astro';
import Title from './Title.astro';
import VStack from './VStack.astro';
import type { Experience } from '@data/profile';

interface Props {
  experience: Experience[];
  class?: string;
}

const { experience, class: className, ...rest } = Astro.props;
---

<Section class={className} {...rest}>
  <Title level="section" text="Work Experience" />
  <VStack gap="2">
    {
      experience.map((item) => (
        <EducationWorkExperienceItem
          title={item.company}
          attributes={item.techStack}
          subTitle={item.jobTitle}
          startPeriod={item.startDate}
          endPeriod={item.endDate}
          activities={item.activities}
          url={item.website}
        />
      ))
    }
  </VStack>
</Section>
